argon2-cffi==23.1.0
Django==4.1
django-cors-headers==4.3.0
django-mysql==4.12.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
mysqlclient==2.2.0
pycodestyle==2.11.1
pylint==3.0.1
pytest==7.4.2
