// app global css

.required
  .q-field__inner    
    .q-field__control:before {
      border: 1px solid $primary !important
    }

.required
  .q-field__inner
    .q-field__control
      .q-field__control-container
        .q-field__label {
          color: $primary
        }

input[type="number"] {
    -moz-appearance: textfield;
}
